<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>系统通知</title>
</head>
<body>
	<center>
		<div><img src="__IMG__/la.png" alt="" width="100px;"/><h1>系统通知</h1></div>
	</center>
		<div style=" clear:none;width:700px;height:50px;">
		<ul style="list-style: none;">
			<img src="__IMG__/laba.png" width="50px;" style='float:left;'/>
			<li style='float:left;margin-left: 20px;line-height: 50px;'>呵gfgfgfdgdfgfdgdgfgdfd呵哈哈哈</li>
			<li style='float:right;line-height: 50px;'>2015-08-09</li>
		</ul>
		</div>
		
		<div style=" clear:none;width:700px;height:50px;">
		<ul style="list-style: none;">
			<img src="__IMG__/laba.png" width="50px;" style='float:left;'/>
			<li style='float:left;margin-left: 20px;line-height: 50px;'>呵呵哈哈哈</li>
			<li style='float:right;line-height: 50px;'>2015-08-09</li>
		</ul>
		</div>
		<div style=" clear:none;width:700px;height:50px;">
		<ul style="list-style: none;">
			<img src="__IMG__/laba.png" width="50px;" style='float:left;'/>
			<li style='float:left;margin-left: 20px;line-height: 50px;'>呵呵哈哈哈</li>
			<li style='float:right;line-height: 50px;'>2015-08-09</li>
		</ul>
		</div>
		<!--<div style="width: 700px;height: 50px;margin-left: 200px;">
			<img src="__IMG__/laba.png" alt="" width="50px;" style/>
		
			<span style="width:400px;">李阳刚吃了一坨屎粑粑</span>
			<span style="width:200px;margin-right: 0px;">系统通知-5分钟前</span>
		
		</div>
		
		<div style="width: 700px;height: 50px;margin-left: 200px;">
			<img src="__IMG__/laba.png" alt="" width="50px;" style/>
		
			<span style="width:400px;">李阳dsfdsfdsfsdsfsd刚吃了一坨屎粑粑</span>
			<span style="width:200px;margin-right: 0px;">系统通知-5分钟前</span>
		
		</div>-->
</body>
</html>