<!DOCTYPE HTML>
<html>

     {include file="common/header"}
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="联系我们">
            </div>
        </div>
        <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="met-show animsition">
            <div class="container">
                <div class="row">
                    <div class="met-editor lazyload clearfix">
                        <div>
                            <div style="text-align: center;">
                                <span style="font-size:16px;">
                                    &nbsp;
                                </span>
                            </div>
                            <h3 style="text-align: center;">
                                <span style="font-size:16px;">
                                    地址：这里是您的公司地址&nbsp;
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="font-size:16px;">
                                    电话：400-123-4567
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="font-size:16px;">
                                    传真：+86-123-4567
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="font-size:16px;">
                                    邮编：000000
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="font-size:16px;">
                                    邮箱：这里是您公司的邮箱地址
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  {include file="common/top"}

</html>