<!DOCTYPE HTML>
<html>
       {include file="common/header"}
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="游玩攻略">
            </div>
        </div>
        <section class="met-news animsition ">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 met-news-body">
                        <div class="row">
                            <div class="met-news-list">
                                <ul class="met-page-ajax" data-scale='0.71428571428571'>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                                <a href="gonglueshow.html"​ title="<b>欢乐农庄是休闲旅游、养生度假、娱乐放松的最</b>"
                                                target='_self'>
                                                    <img class="media-object" src="picture/1-1g1291103320-l.jpg" style='height:150px;'
                                                    alt="<b>欢乐农庄是休闲旅游、养生度假、娱乐放松的最</b>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="gonglueshow.html"​ title="<b>欢乐农庄是休闲旅游、养生度假、娱乐放松的最</b>"
                                                    target='_self'>
                                                        <b>
                                                            欢乐农庄是休闲旅游、养生度假、娱乐放松的最
                                                        </b>
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    某某农庄，占地1500亩，是占地面积最大、游玩类型最多、休闲项目(xing m)最全、日接待游客最多的农庄。农家乐推荐的雏形来自于国内外的乡村旅游，并将国内特有的乡村...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        174
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                                <a href="gonglueshow.html"​ title="<b>老同学聚会来农家乐就对了</b>"
                                                target='_self'>
                                                    <img class="media-object" src="picture/1-1g1291101090-l.jpg" style='height:150px;'
                                                    alt="<b>老同学聚会来农家乐就对了</b>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="gonglueshow.html"​ title="<b>老同学聚会来农家乐就对了</b>"
                                                    target='_self'>
                                                        <b>
                                                            老同学聚会来农家乐就对了
                                                        </b>
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    老同学聚会来农家乐就对了，有人说，光阴似箭，一转眼，一年的同窗生涯已成为过去。农家乐一般来说，农家乐的业主利用当地的农产品进行加工，满足客人的需要，成...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        141
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div>
                                    <div class='met_pager'>
                                        <span class='PreSpan'>
                                            上一页
                                        </span>
                                        <a class="Ahover">
                                            1
                                        </a>
                                        <a href='list_19_2.html'>
                                            2
                                        </a>
                                        <a href='list_19_2.html'>
                                            下一页
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="met-news-bar">
                                <form name="formsearch" action="/plus/search.php">
                                    <input type="hidden" name="kwtype" value="0" />
                                    <input type='hidden' name='typeid' value="18,19">
                                    <div class="form-group">
                                        <div class="input-search">
                                            <button type="submit" class="input-search-btn">
                                                <i class="icon wb-search" aria-hidden="true">
                                                </i>
                                            </button>
                                            <input type="text" class="form-control" name="q" placeholder="Search">
                                        </div>
                                    </div>
                                </form>
                                <div class="recommend news-list-md">
                                    <h3>
                                        为您推荐
                                    </h3>
                                    <ul class="list-group list-group-bordered">
                                        <li class="list-group-item">
                                            <a href="gonglueshow.html"​ title="欢乐农庄是休闲旅游、养生度假、娱乐放松的最"
                                            target='_self'>
                                                欢乐农庄是休闲旅游、养生度假、娱乐放松的最
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="gonglueshow.html"​ title="老同学聚会来农家乐就对了" target='_self'>
                                                老同学聚会来农家乐就对了
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="gonglueshow.html"​ title="假期怎么玩？欢乐农家乐欢迎您！" target='_self'>
                                                假期怎么玩？欢乐农家乐欢迎您！
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="column">
                                    <li>
                                        <a href="gonglueshow.html"​ title="所有文章" target='_self'>
                                            所有文章
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {include file="common/top"}


</html>