<!DOCTYPE HTML>
<html>

    {include file="common/header"}
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="山庄环境">
            </div>
        </div>
        <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="met-img animsition">
            <div class="container">
                <div class="row">
                    <ul class="blocks-100 blocks-sm-2 blocks-md-4 blocks-xlg-4  met-page-ajax"
                    data-scale='0.65625'>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291451410-l.jpg"
                                alt="环境展示五" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            环境展示五
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="环境展示五*picture/1-1g1291451410-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291451210-l.jpg"
                                alt="环境展示四" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            环境展示四
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="环境展示四*picture/1-1g1291451210-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291451030-l.jpg"
                                alt="环境展示三" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            环境展示三
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="环境展示三*picture/1-1g1291451030-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291450460-l.jpg"
                                alt="环境展示二" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            环境展示二
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="环境展示二*picture/1-1g1291450460-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291450300-l.jpg"
                                alt="环境展示一" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            环境展示一
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="环境展示一*picture/1-1g1291450300-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div class='met_pager'>
                            <span class="pageinfo">
                                共
                                <strong>
                                    1
                                </strong>
                                页
                                <strong>
                                    5
                                </strong>
                                条记录
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {include file="common/top"}

</html>