<!DOCTYPE HTML>
<html>

  {include file="common/header"}
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="休闲项目">
            </div>
        </div>
        <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                            <li>
                                <a href="#"​ class="link">
                                    农家乐
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    真人CS
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    骑马
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    室内休闲
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    室外拓展
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    球类
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="met-img animsition">
            <div class="container">
                <div class="row">
                    <ul class="blocks-100 blocks-sm-2 blocks-md-4 blocks-xlg-4  met-page-ajax"
                    data-scale='0.65625'>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291455350-l.jpg"
                                alt="骑马三" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            骑马三
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="骑马三*picture/1-1g1291455350-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291455190-l.jpg"
                                alt="骑马二" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            骑马二
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="骑马二*picture/1-1g1291455190-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291455040-l.jpg"
                                alt="骑马一" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            骑马一
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="骑马一*picture/1-1g1291455040-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291454070-l.jpg"
                                alt="cs 4" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            cs 4
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="cs 4*picture/1-1g1291454070-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291453400-l.jpg"
                                alt="cs 3" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            cs 3
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="cs 3*picture/1-1g1291453400-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291453230-l.jpg"
                                alt="cs 2" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            cs 2
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="cs 2*picture/1-1g1291453230-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291453090-l.jpg"
                                alt="cs 1" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            cs 1
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="cs 1*picture/1-1g1291453090-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291210430-l.jpg"
                                alt="垂钓" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            垂钓
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="垂钓*picture/1-1g1291210430-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291210170-l.jpg"
                                alt="水上娱乐" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            水上娱乐
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="水上娱乐*picture/1-1g1291210170-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g1291159180-l.jpg"
                                alt="篝火晚会" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            篝火晚会
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="篝火晚会*picture/1-1g1291159180-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget ">
                            <div class="cover overlay overlay-hover">
                                <img class="cover-image overlay-scale" src="picture/1-1g129115u20-l.jpg"
                                alt="自助烧烤" style='height:300px;' />
                                <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                    <div class="vertical-align-middle">
                                        <div class="widget-time widget-divider">
                                            <span>
                                                2017-11-29
                                            </span>
                                        </div>
                                        <h3 class="widget-title margin-bottom-20 font-weight-300">
                                            自助烧烤
                                        </h3>
                                        <button type="button" class="btn btn-outline btn-squared btn-inverse met-img-showbtn"
                                        data-imglist="自助烧烤*picture/1-1g129115u20-l.jpg|">
                                            浏览
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div class='met_pager'>
                            <span class="pageinfo">
                                共
                                <strong>
                                    1
                                </strong>
                                页
                                <strong>
                                    11
                                </strong>
                                条记录
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {include file="common/top"}


</html>