<!DOCTYPE HTML>
<html>
    {include file="common/header"}>
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="农庄养殖">
            </div>
        </div>
        <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                            <li>
                                <a href="#"​ class="link">
                                    本地鸡养殖
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    无害菜园
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    特色芦花鸡
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    农家水鸭
                                </a>
                            </li>
                            <li>
                                <a href="#"​ class="link">
                                    本地土猪
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="met-show animsition">
            <div class="container">
                <div class="row">
                    <div class="met-editor lazyload clearfix">
                        <div>
                            <p>
                                <span style="color: rgb(0, 0, 0); text-indent: 28px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px;">
                                    &nbsp;
                                </span>
                            </p>
                            <table>
                                <tbody>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g1291501010-l.jpg" width="552px" height="306px" title="土猪二" alt="土猪二" />
                                    </td>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g1291500450-l.jpg" width="552px" height="306px" title="土猪一" alt="土猪一" />
                                    </td>
                                    </tr>
                                    <td width="500" valign="top">
                                        <img class="imgloading"  src="picture/1-1g1291459500-l.jpg" width="552px" height="306px" title="水鸭二" alt="水鸭二" />
                                    </td>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g1291459340-l.jpg" width="552px" height="306px" title="水鸭一" alt="水鸭一" />
                                    </td>
                                    </tr>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g129145S80-l.jpg" width="552px" height="306px" title="芦花鸡二" alt="芦花鸡二" />
                                    </td>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g129145r20-l.jpg" width="552px" height="306px" title="芦花鸡一" alt="芦花鸡一" />
                                    </td>
                                    </tr>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g129145g40-l.jpg"  width="552px" height="306px" title="菜园二" alt="菜园二" />
                                    </td>
                                    <td width="500" valign="top">
                                        <img class="imgloading" src="picture/1-1g129145A90-l.jpg" title="菜园一" alt="菜园一" />
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   {include file="common/top"}

</html>