<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		 <footer>
            <div class="container text-center">
                <p>
                    Gubeishuizhen &copy; 2018-2022 最牛逼有限公司 版权所有
                </p>
                <div class="powered_by_metinfo">
                    ICP备XXXXXXXX号
                </div>
            </div>
        </footer>
          <button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide">
            <i class="icon wb-chevron-up" aria-hidden="true">
            </i>
        </button>
        <script src="__JS__/email-decode.min.js">
        </script>
        <script src="__JS__/index.js">
        </script>
	</body>
</html>
