<head>
    <!--<meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>-->
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="Description" content="古北水镇预订网是古北水镇景区旗下官方预订网站，提供景区内各类套餐、自由行产品等预订服务，让您省钱更省心。">
    <title>
        支付信息 - 古北水镇官方预订网站
    </title>
    <link href="/Public/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="__CSS__/base.css" rel="stylesheet">

    <link href="__CSS__/showOrder.css" rel="stylesheet">

<meta name="random" content="03159c19cd020f59e317d7fe222641e6_bd8cd5e3d032b2f0b2dfb0a123f2c8bd" /></head>
<body>
<div class="top clearfix">
    <div class="top-left clearfix">
        <ul class="topmenu-left">
            <li>欢迎来到古北水镇</li>
            <li><a href="{:url('index/index')}" target="_blank">古北水镇官网</a></li>
            <li>
                <span class="phone">
                    <img src="/Public/Reservation/images/phone.png">
                </span>
                <span class="phone-line">&nbsp;|&nbsp;</span>
                <!-- <span class="phone-size">521-520-1314 &nbsp;</span> -->
            </li>
            <li>
                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=99" width="160" height="36" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </li>
        </ul>
        <ul class="topmenu-right">
            <li>
                <a href="/index.php/Reservation/Account/baseInfo.html">15810037426</a>
                    <span style="float: left">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="javascript:if(confirm('确定要退出吗？'))quit()">退出</a>
                                </li>
            <li><a href="/index.php/Reservation/Order/orderManage.html">我的订单</a></li>
            <li><a href="/index.php/Reservation/Order/orderManage.html?ostatus=0">购物车</a></li>
        </ul>
    </div>
</div>